# Ignore .pem files
*.pem

# Ignore Python virtual environments
venv/
.venv/
env/
.env/
myevn/
.myvenv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore logs and caches
*.log
*.cache

# Ignore environment variable files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

